---
---

@import "minima";


.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column { flex: 1 1 30%;
}

// .container {
//     margin-left: 20px;
//     margin-right: 20px;
// }

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     height: 100%;
//     width: 100%;
// }

// body, html {
//     height: 100%;
// }

